<div class="form-row">

  <div class="form-group col-auto">
    <select id="ddl-timezone-regions" class="form-control">
      <option value="US">US</option>
      <option value="America">America</option>
      <option value="Africa">Africa</option>
      <option value="Asia">Asia</option>
      <option value="Atlantic">Atlantic</option>
      <option value="Australia">Australia</option>
      <option value="Canada">Canada</option>
      <option value="Europe">Europe</option>
      <option value="Indian">Indian</option>
      <option value="Pacific">Pacific</option>
    </select>
  </div>

  <div class="form-group col-auto align-self-sm-center">
    <select class="form-control" id="ddl-timezone-picker">
      <option>-- select time zone --</option>
    </select>
  </div>

  <div class="form-group col-auto align-self-center">
    <b><span id="current-time-on-form">00:00 am</span></b>
  </div>

</div>