<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->

            <div class="card">
              <div class="card-header">
                <h5>Theme</h5>
                <span class="d-block m-t-5">Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-xl-3 col-md-6 mb-4">
                    <h5>Theme Mode</h5>
                    <hr>
                    <div class="form-group">
                      <label>Dark</label>
                      <div class="switch d-inline m-r-10">
                        <input id="switch-1" type="checkbox" checked>
                        <label class="cr" for="switch-1"></label>
                      </div>
                      <label>Light</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->


