@{
  ViewData["Title"] = "About Appts Online";
}
<div class="container">
  <div class="row">
    <div class="col-12">


      <h2>@ViewData["Title"]</h2>
      <h3>Online Appointment Scheduler</h3>

      <p>Appts Online was developed to empower the individual service provider; the gig worker or side-hustler. Appts handles the mundane and routine appointment scheduling administration that normally occurs between service providers and clients.</p>
      <p>Appts Online is capable of operating around the globe, so service providers and clients can schedule appointments from literally anywhere in the world! This means an English tutor in America can easily set appointments with learners in China, and English speakers in America seeking Mandarin lessons can schedule with a tutor in China</p>
      <p>Appts was built out over the course of 3 years, utilizing the latest cloud technology.</p>
      <p>Appts Online is for sale--inquire today!</p>
      <address>
        <strong>Support or other inqueries:</strong> <a href="mailto:admin@appts.online">admin@appts.online</a><br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
      </address>

    </div>
  </div>
</div>