@{
  ViewData["Title"] = "Contact Us";
}
<div class="continer">
  <div class="row">
    <div class="col-12">

      <h2>@ViewData["Title"]</h2>
      <h3>Online Appointment Scheduler</h3>

      @*<address>
            12913 W Dreyfus Dr<br />
            Redmond, WA 98052<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>*@

      <address>
        <strong>Support or other inqueries:</strong> <a href="mailto:admin@appts.online">admin@appts.online</a><br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
      </address>

    </div>
  </div>
</div>
