
@{
  Layout = "~/Views/Shared/_LandingLayout.cshtml";
  ViewData["Title"] = "Home Page";
}






<div class="services-section text-center" id="services">
  <!-- Services section (small) with icons -->
  <div class="container">
    <div class="row  justify-content-md-center">
      <div class="col-md-8">
        <div class="services-content">
          <h1 class="wow fadeInUp" data-wow-delay="0s">How it works</h1>
          <p class="wow fadeInUp" data-wow-delay="0.2s">
            Get started in minutes
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-features" id="how-it-works">
  <div class="container">
    <div class="flex-split">
      <div class="f-left wow fadeInUp" data-wow-delay="0s">
        <div class="left-content">
          @*<img class="img-fluid lazyload" data-src="https://cdnappts3.azureedge.net/files/appts/landing/imgs/add-avail.svg" alt="" />*@
          @*<img class="img-fluid lazyload" data-src="https://cdnappts3.azureedge.net/files/appts/imgs/looking-at-calendar.PNG" alt="" />*@
          <img class="img-fluid lazyload" data-src="https://saapptscdn.blob.core.windows.net/files/appts/imgs/gif-demo-add-availability-light-mode.gif" alt="Set your availability" />
        </div>
      </div>
      <div class="f-right wow fadeInUp" data-wow-delay="0.2s">
        <div class="right-content">
          <h2>Add your availability</h2>
          <p>
            Set the bounds within which clients can schedule with you
          </p>
        </div>
      </div>
    </div>
    <div class="flex-split">
      <div class="f-right">
        <div class="right-content wow fadeInUp" data-wow-delay="0.2s">
          <h2>Share your link</h2>
          <p>
            Use our invite-client-tool to spread the word
          </p>
        </div>
      </div>
      <div class="f-left">
        <div class="left-content wow fadeInUp" data-wow-delay="0.3s">
          @*<img class="img-fluid lazyload" data-src="https://cdnappts3.azureedge.net/files/appts/landing/imgs/share-link.svg" alt="" />*@
          @*<img class="img-fluid lazyload" data-src="https://cdnappts3.azureedge.net/files/appts/imgs/share-thoughts.PNG" alt="" />*@
          <img class="img-fluid lazyload" data-src="https://saapptscdn.blob.core.windows.net/files/appts/imgs/gif-demo-invite-client-light-mode.gif" alt="Invite clients to schedule with you!" />
        </div>
      </div>
    </div>
    <div class="flex-split">
      <div class="f-left wow fadeInUp" data-wow-delay="0s">
        <div class="left-content">
          @*<img class="img-fluid lazyload" data-src="https://cdnappts3.azureedge.net/files/appts/landing/imgs/schedule.svg" alt="" />*@
          @*<img class="img-fluid lazyload" data-src="https://cdnappts3.azureedge.net/files/appts/imgs/schedule.PNG" alt="" />*@
          <img class="img-fluid lazyload" data-src="https://saapptscdn.blob.core.windows.net/files/appts/imgs/gif-demo-schedule-appt-full-light-mode.gif" alt="Client can schedule when it is convenient for them!" />
        </div>
      </div>
      <div class="f-right wow fadeInUp" data-wow-delay="0.2s">
        <div class="right-content">
          <h2>Schedule</h2>
          <p>
            Clients use your link and availability to schedule the best appointment time for them
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="services-section text-center" id="features">
  <!-- Services section (small) with icons -->
  <div class="container">
    <div class="row  justify-content-md-center">
      <div class="col-md-12 text-center">
        <div class="services">
          <div class="row">
            <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="services-icon">
                <img src="~/landing_assets/logos/feature_icon_3.png" height="60" width="60" alt="Service" />
              </div>
              <div class="services-description">
                <h1>24/7 Access for Clients</h1>
                <p>
                  Clients can schedule appointments within your availability, 24/7, from their phone, tablet or computer. Clients can cancel or reschedule at their convienence.
                </p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="services-icon">
                <img class="icon-2" src="~/landing_assets/logos/icon2.png" height="60" width="60" alt="Service" />
              </div>
              <div class="services-description">
                <h1>Rocket Fast</h1>
                <p>
                  Appts is built on the latest cloud-powered technology. So fast, you will never notice.
                </p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
              <div class="services-icon">
                <img class="icon-3" src="~/landing_assets/logos/icon3.png" height="60" width="60" alt="Service" />
              </div>
              <div class="services-description">
                <h1>Essential Features</h1>
                <p>
                  With Appts there is less to configure, so you can get up and started quicker.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Feature Image Big -->
<div class="feature_huge text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 feature_list">
        <div class="row">
          <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
            <img src="~/landing_assets/logos/feature_icon_2.png" alt="Feature" />
            <h1>Calendar Integrations</h1>
            <p>
              Appointments are instantly saved to your Google Calender too.
            </p>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
            <img src="~/landing_assets/logos/feature_icon_3.png" alt="Feature" />
            <h1>Global Time Zone Support</h1>
            <p>
              You can fill appointment openings from around the world.
            </p>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
            <img src="~/landing_assets/logos/feature_icon.png" alt="Feature" />
            <h1>Support</h1>
            <p>
              Help where you needed it, including email ticket support.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pricing Section -->
<div class="pricing-section no-color text-center" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pricing-intro">
          <h1 class="wow fadeInUp" data-wow-delay="0s">Simple and Fair Pricing</h1>
          <p class="wow fadeInUp" data-wow-delay="0.2s">
            Simple monthly fee - cancel at any time.
          </p>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-left wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon">
                <img src="~/landing_assets/logos/cart2.png" alt="Icon" />
              </div>
              <div class="pricing-details">
                <h2>Essential Provider</h2>
                <span>$5</span>
                <p>
                  Pay little enjoy the product <br class="hidden-xs"> for life time.
                </p>
                <ul>
                  <li>Unlimited Appointments</li>
                  <li>Email Reminders</li>
                  <li>Client Self Services 24/7</li>
                  <li>Google Calendar Syncing</li>
                </ul>
                <a asp-controller="Account" asp-action="TryFree" class="btn btn-primary" style="font-size:2rem;" data-wow-delay="0.2s">Try Free</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-section" id="solutions">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="testimonials owl-carousel owl-theme">
          <div class="testimonial-single">
            <img class="img-circle" src="~/landing_assets/images/testimonial2.jpg" alt="Client Testimonoal" />
            <div class="testimonial-text wow fadeInUp" data-wow-delay="0.2s">
              <p>
                Donovan can tutor students accross the globe with Appts world-wide time zone support.
              </p>
              <h3>Tutor</h3>
              <h3>Donovan</h3>
            </div>
          </div>
          <div class="testimonial-single">
            <img class="img-circle" src="~/landing_assets/images/testimonial1.jpg" alt="Solution" />
            <div class="testimonial-text">
              <p>
                Appts reduces administration time scheduling clients, so Stella can focus on clients.
              </p>
              <h3>SLPA</h3>
              <h3>Stella</h3>
            </div>
          </div>
          <div class="testimonial-single">
            <img class="img-circle" src="~/landing_assets/images/testimonial3.jpg" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>
                Set up is a breeze, so Bridget can get back to the gym.
              </p>
              <h3>Personal Trainer</h3>
              <h3>Bridget</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Subscribe Form -->
<div class="cta-sub text-center no-color">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-delay="0s">Try all features free for 10 Days</h1>
    <p class="wow fadeInUp" data-wow-delay="0.2s">
      No credit card required--clients could be scheduling with you in minutes.
    </p>
    <div class="form wow fadeInUp" data-wow-delay="0.3s">
      <a asp-controller="Account" asp-action="TryFree" class="btn btn-primary" style="font-size:2rem;" data-wow-delay="0.2s">Try Free</a>

      @*<form class="subscribe-form wow zoomIn" action="assets/php/subscribe.php" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
        <input class="mail" type="email" name="email" placeholder="Email address" autocomplete="off"><input class="submit-button" type="submit" value="Subscribe">
      </form>
      <div class="success-message"></div>
      <div class="error-message"></div>*@
    </div>
  </div>
</div>
<!-- Scroll To Top -->
<a id="back-top" class="back-to-top page-scroll" href="#hero-top">
  <i class="ion-ios-arrow-thin-up"></i>
</a>
<!-- Scroll To Top Ends-->