 @{ 
  ViewData["Title"] = "Become a Service Provider";
}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Become a Service Provider</h1>
      <h5>Try free! No credit card required.</h5>
      <p>As a client, you know the benefit of being able to schedule time with a service provider that works best for you.</p>
      <p>Become a service provider now, free for 10 days, and open a world of possibilities for youself. It is quick and easy!</p>
      <form method="post" asp-controller="Client" asp-action="AddServiceProviderToClient">
        <button type="submit"  class="btn btn-primary">Start now!</button>

      </form>
    </div>
  </div>
</div>