<h3>Help - Availability</h3>
<hr />
<p>
  Clients can only schedule appointments with you when you're available. This document aims to explain how to manage your availability with Appts Online.
</p>
<h4 id="AddAvailability">Add Availability</h4>