
@{
  ViewData["Title"] = "F.A.Qs";
}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Frequently Asked Questions</h1>
      <h3><small>Q:</small> How do I schedule an appointment for a client, myself</h3>
      <p>A: Visit your scheduling link, select the time you'll be working with your client, then you can select the client from your contacts or enter their name and email. Once you confirm the appointment, a confirmation email will be sent to the client.</p>
      <h3><small>Q:</small> How do I connect my Google Calender?</h3>
      <p>A: Under the Services menu, select Connected Calendars.</p>
    </div>
  </div>
</div>