@{
  ViewData["Title"] = "No Service Provider Found";
}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Not Found</h1>
      <p>We're sorry, no service provider by the name of "@TempData["NameOfSpSearched"]" could not be found.</p>
      <p>If you were sent an invite, try using the link in the email or text.</p>
      <p>If that does not work, the service provider may have changed their link. You may need to contact them directly to get their new link.</p>
    </div>
  </div>
</div>