<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fn-reszie-avatarv3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3344e437-7f8c-4932-8eff-76dd4c321b70/resourceGroups/rg-appts-2021/providers/Microsoft.Web/sites/fn-reszie-avatarv3</ResourceId>
    <UserName>$fn-reszie-avatarv3</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fn-reszie-avatarv3.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>