@{
  ViewData["Title"] = "Account Already Exists";
}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Account Already Exists</h1>
      <p>The account you are trying to create or link to, already exists. You can <a asp-controller="Account" asp-action="SignIn">Sign in using the account</a></p>
    </div>
  </div>
</div>