
@{
  Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
  ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="wow fadeInUp" data-wow-delay="0s">Successfully Signed Out</h1>
      <a class="btn btn-primary btn-action" data-wow-delay="0.2s" asp-action="SignIn" asp-controller="Account">Sign In</a>
    </div>
  </div>
</div>


@*<div class="hero-section app-hero">
  <div class="container">
    <div class="hero-content app-hero-content text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <h1 class="wow fadeInUp" data-wow-delay="0s">Successfully Signed Out</h1>
          <a class="btn btn-primary btn-action" data-wow-delay="0.2s" asp-action="SignIn" asp-controller="Account">Sign In</a>
        </div>
        <div class="col-md-12">
          <div class="hero-image">
            <img class="img-fluid" src="~/landing_assets/images/app_hero_1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>*@